@{ Layout = "_Layout"; }

@Html.Partial("_Navigation")

<div id="quote-of-the-day" class="hidden-quote visibility-transition"></div>
<div id="writing-path-component" class="writing-path-hidden bg-gradient"></div>
<div id="writing-area" class="writing-area-hidden bg-gradient"></div>
<div id="writing-day-reward" class="writing-area-hidden visibility-transition"></div>
<div id="writer-profile-component" class="writer-profile-hidden bg-gradient"></div>