@model WritingDayBodyViewModel

<div> @*WritingArea Component*@
    <div id="writing-area-header">
        <h2></h2>
        <blockquote>@Model.HiddenQuote</blockquote>

    </div>
    <div id="writing-area-body">
        <p>Day @Model.Id</p>
    </div>
</div>