@model WritingDayBodyViewModel

<div>
    @*WritingArea Component*@
    <div id="writing-area-header">
        @await Component.InvokeAsync("WritingDayHeader", new { PathId = Model.PathId, DayId = Model.Id })
    </div>
    <div id="writing-area-body">
        <p id="main-writing-area">
            <textarea id="txt" cols="45" rows="8" aria-required="true">@Model.WrittenText</textarea>
        </p>
        <p id="autosave-info"></p>
    </div>
</div>