<nav class="bg-transition">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li> * 
        <li><span id="writing-path" class="clickable" onclick="getWritingPath()">Path</span></li> *
        <li><span class="clickable">Profile</span></li>
    </ul>
</nav>