<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><span id="writing-path" class="clickable-p" onclick="document.getElementById('writing-path-component').classList.toggle('hidden')">Path</span></li>
        <li><a asp-controller="User" asp-action="Index">User Profile</a></li>
    </ul>
</nav>