<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li> * 
        <li><span id="writing-path" class="clickable-p" onclick="getWritingPath()">Path</span></li> *
        <li><a href="#">Profile</a></li>
    </ul>
</nav>