@model WritingDayHeaderViewModel
@*WritingArea WritingDayHeader*@
<div id="writing-day-header">
    <p class="day-number">Day @Model.DayNumber</p>
    <p>
        <span class="xp-reward">XP:</span> @Model.ExperienceReward |
        Required Words: <span id="writing-day-required-words">@Model.RequiredWords.ToString("##,###")</span>
    </p>
    <div class="progress-background">
        <div class="progress-slider"></div>
    </div>
    <p>
        Written Words: <span id="written-words">@Model.WrittenWords</span>
    </p>
</div>