@{ Layout = "_Layout"; }

<div id="hidden-message-of-the-day" class="hidden-message-of-the-day">
    <blockquote id="message-of-the-day"></blockquote>
    <p class="button-holder">
        <button onclick="hideHiddenMessageOfTheDay()" class="animate action-button yellow"><span>Thank You </span></button>
    </p>
</div>

@Html.Partial("_NavigationPartial")

<div id="writing-path-component" class="writing-path-hidden"></div>
<div id="writing-area" class="writing-area-hidden"></div>
<div id="writing-day-reward" class="writing-area-hidden"></div>