@{ Layout = "_Layout"; }

@Html.Partial("_NavigationPartial")

<div id="hidden-message-of-the-day" class="hidden-message-of-the-day"></div>
<div id="writing-path-component" class="writing-path-hidden"></div>
<div id="writing-area" class="writing-area-hidden"></div>
<div id="writing-day-reward" class="writing-area-hidden"></div>