@{ Layout = "_Layout"; }

<div id="hidden-message-of-the-day" class="hidden-message-of-the-day">
    <blockquote id="message-of-the-day"></blockquote>
    <p class="button-holder">
        <a onclick="hideHiddenMessageOfTheDay()" class="animate action-button yellow">Thank You :)</a>
    </p>
</div>