@model int[]

<div>
    <h2>Congratulations on Your Progress!</h2>
    <p><span>Received: @Model[1] GoldenPen </span> & Gained <span class="xp-reward">@Model[0] XP</span>!</p>
    <p class="button-holder">
        <a onclick="claimReward()" class="animate action-button yellow">Progress :)</a>
    </p>
</div>