html {
    background: url(/images/GrowthTree.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 15px;
    height: 5%; width: 25%;
    padding: 15px; margin: 0 auto;
    text-align: center;

}