#writing-path-component {
    width: 290px;
    height: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    transition: background .5s, left .3s ease-in, opacity .5s;
    -moz-transition: background .5s, left .3s ease-in, opacity .5s;
    -webkit-transition: background .5s, left .3s ease-in, opacity .5s;
    -o-transition: background .5s, left .3s ease-in, opacity .5s;
}

    #writing-path-component:hover {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);
    }

.writing-path-hidden {
    opacity: 0;
    left: -300px !important;
}

#writing-path-header, #days-info-footer {
    height: 18%;
    text-align: center;
    cursor: default;
    padding-top: 8px;
}

#days-info-container {
    height: 55%;
}

#days-info-body {
    height: 100%;
    margin-top: 8px;
    overflow: scroll;
    overflow-y: scroll;
}

    #days-info-body::-webkit-scrollbar {
        width: 0.7em;
    }

    #days-info-body::-webkit-scrollbar-track {
        -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #days-info-body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    #days-info-body::-webkit-scrollbar-corner {
        display: none;
    }


.writing-path-single-day-info {
    background-color: rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 3px;
    padding: 6px 6px 2px 16px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px;
    cursor: default;
}

    .writing-path-single-day-info:hover {
        background-color: rgb(128, 128, 128);
        background-color: rgba(128, 128, 128, 0.8);
    }

    .writing-path-single-day-info .title {
        padding: 0;
        margin-bottom: 2px;
        border-bottom: 1px solid rgb(128, 128, 128);
        width: 100%;
    }

.writing-path-single-day-number {
    background-color: goldenrod;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 40;
    opacity: .8;
    width: 16px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn:hover {
        background-color: rgb(70,139,14);
    }

.do-it {
    background-color: rgb(115,183,64);
    width: 55px;
    height: 35px;
    margin-left: 25px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    opacity: .8;
    z-index: 40;
    color: white;
}

.xp-reward {
    color: goldenrod;
}