#writing-area {
    width: 825px;
    height: 785px;
    position: relative;
    margin: 0 auto;
    top: 25px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    -webkit-transition: background .5s, opacity .5s;
    -o-transition: background .5s, opacity .5s;
    text-align: center;
    vertical-align: central;
}

    #writing-area:hover {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);
    }

.writing-area-hidden {
    opacity: 0;
    top: -9999px !important;
}

#writing-day-header {
    padding-top: 8px;
}

#writing-area-body {
    width: 825px;
    height: 400px;
    position: relative;
}

.day-number {
    padding-top: 8px;
    font-size: 21px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#txt {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 775px;
    height: 600px;
    background-color: rgb(250,250,250);
    opacity: 0.9;
    resize: none;
    border: none;
    font-size: 17px;
    line-height: 27px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 15px;
}

    #txt:active {
        border: none;
    }

    #txt::-webkit-scrollbar {
        width: 0.7em;
    }

    #txt::-webkit-scrollbar-track {
        -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #txt::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    #txt::-webkit-scrollbar-corner {
        display: none;
    }


/*Writing progress Slider*/
.progress-background {
    background-color: rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    height: 20px;
    width: 775px;
    margin: 0 auto;
}

.progress-slider {
    width: 0;
    height: 14px;
    background-color: goldenrod;
}

/*Writing Day Reward*/
#writing-day-reward {
    top: 33%;
    left: 0;
    right: 0;
    margin: auto;
    width: 825px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .90);
    transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    -webkit-transition: background .5s, opacity .5s;
    -o-transition: background .5s, opacity .5s;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    transition: visibility 0.3s, opacity 0.3s;
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    text-align: center;
}